<figure class="login-backer">
  <section class="mini-logo group">
    <a href="/"><h1> Welcome to Nighttyme </h1>
    <p>
      Are you ready for the night?
    </p></a>
  </section>

  <section class="login-box login group">
    <h2 class="sign-up">Sign In</h2>
    <% unless flash[:errors].nil? %>
      <% flash[:errors].each do |error| %>
        <%= error %><br>
      <% end %>
    <% end %>
    <form class="sign-up group" action="<%= session_url %>" method="post">
      <%= auth_token %>
      <div class="input-line">
      <label for="Username">Username:</label>
      <input  type="text"
              name="user[username]"
              id="Username"
              value="<%= @user.username %>"
              required
              title="Username must not be blank"
              placeholder="Please enter a valid user name"><br>
      </div>
      <div class="input-line">
      <label for="Password">Password:</label>
      <input  type="password"
              name="user[password]"
              id="Password"
              value=""
              required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
              title="Password must contain at least 6 characters, including UPPER/lowercase and numbers."
              placeholder="Please enter a valid password"><br>
      </div>
      <input type="submit" class="submit" value="Sign In">
    </form>
    <p class="sign-up">
      Don't have an account? <a href="/users/new">Sign up here</a>
    </p>
  </section>
</figure>
