<figure class="login-backer">
  <section class="mini-header group">
    <h1>Welcome to Nighttyme</h1>
    <p>
      Are you ready to experience the night?
    </p>
  </section>

  <section class="login-box login group">
    <h2 class="sign-up">Sign In</h2>
    <% unless flash[:errors].nil? %>
      <% flash[:errors].each do |error| %>
        <%= error %><br>
      <% end %>
    <% end %>
    <form class="sign-up group" action="<%= session_url %>" method="post">
      <%= auth_token %>
      <label for="Username">Username:</label>
      <input  type="text"
              name="user[username]"
              id="Username"
              value="<%= @user.username %>"
              required
              placeholder="Please enter a valid user name"><br>
      <label for="Password">Password:</label>
      <input  type="password"
              name="user[password]"
              id="Password"
              value=""
              required
              placeholder="Please enter a valid password"><br>
      <input type="submit" class="submit" value="Sign In">
    </form>
    <p class="sign-up">
      Don't have an account? <a href="session/new">Sign up here</a>
    </p>
  </section>
</figure>
