.business-quick-info {

  .ratings-wrapper {
    position: relative;
    clear: both;
    top: -25px;
    display: block;
    float: none;

    .rating, .aggregate-reviews {
      float:left;
      position: relative;
    }

    .aggregate-reviews {
      padding-left: 20px;
    }
  }

  .price-tags {
    top: -25px;
    position: relative;
    clear: both;
    display: block;

    .price, .tags {
      float: left;
      position: relative;
      margin: 0;
    }

    .tags {
      font-weight: 500;

      .tag {
        padding-left: 10px;
        text-decoration: none;
        color: #8c001a;
        display: inline;
      }

      .tag:hover {
        cursor: pointer;
      }
    }
  }
}
.location-group {
  float: left;
  position: relative;
  clear: both;
  display: block;

  .neighborhood, .telephone {
    font-weight: 500;
  }

  .neighborhood, .telephone, .location {
    margin: 10px;
  }

  .telephone {
    margin-bottom: 30px;
  }
}

.business-index-item {
  width: 64%;

  .right {
    float: right;
    position: relative;
  }

  .neighborhood, .telephone, .location {
    text-align: right;
    top: 10px;
    position: relative;
  }

  .location-group {
    top: -115px;
  }

}

.business-index {
  float: left;
  width: 55%;
  min-width: 450px;
  display: inline-block;

  ul {
    width: 100%;
    margin-right: 0;
    display: inline-block;
  }

  .business-index-item {
    margin-right: 0;
    display: inline;

    .neighborhood {
      margin-top: 0;
    }

  }

  .business-index-name {
    color: #8c001a;
  }

  .business-index-name:hover {
    cursor: pointer;
  }

  .business-index-item:not(:first-child) h4 {
    margin-bottom: 5px;
    top: 10px;
    position: relative;
  }

  .business-index-item:not(:first-child) {

    .business-index-name {
      top: 45px;
    }
  }

  .business-index-item {
    h4.price {
      top: 0;
    }
  }
}

.business {
  border: 0;
  border-color: #4d4d4d;
  border-bottom: 1px;
  border-style: groove;
  padding-bottom: 10px;
}
