$dark-gray: #4d4d4d;
$border-gray: #666666;

.review-prompt {
  margin: 72px auto 3% auto;
  max-width: 600px;
  color: $dark-gray;
  width: 94%;
  height: 360px;
  background-image: url(https://images.unsplash.com/photo-1415889455891-23bbf19ee5c7?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375);
  background-size: cover;
  border-radius: 30px;
  box-shadow: 0 0 60px rgba(102,102,102,0.6), inset 3px 3px 20px rgba(179,179,179,0.4);

  .review-prompt-header {
    margin: 20px;
    top: 45px;
    text-align: center;
    font-family: 'Bazar';
    position: relative;
    font-size: 2em;
    text-shadow: 1px 1px 3px rgba(255,255,255,0.6);
    color: rgba(255,255,255,1.0);
  }

  .review-prompt-body {
    position: relative;
    top: 110px;
    margin: 20px;
    transition: all 0.3s ease-in-out;
    color: rgba(255,255,255,1.0);
    background: rgba(51,51,51, 0.4);
    padding: 10px;
    border-radius: 20px;
  }

  .create-account-button {
    position: relative;
    text-align: center;
    font-size: 1em;
    margin: 0 22.5%;
    width: 55%;
    bottom: -120px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    outline: none;
    background-color: #8c001a;
    color: rgba(255,255,255,1.0);
    padding: 10px;
    box-shadow: 0 0 60px rgba(102, 102, 102, 0.6),
      inset 3px 3px 20px rgba(255, 51, 89, 0.4);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  .create-account-button:hover {
    background-color: #cc0026;
    box-shadow: 0 0 60px rgba(153, 153, 153, 0.6),
      inset 3px 3px 20px rgba(255, 153, 172, 0.4);
  }

}
