// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  background: linear-gradient(rgba(102, 102, 102, 0.98), rgba(52, 52, 52, 0.98));
  width: 100%;
  position: fixed;
  top: -8px;
  width: 100%;
  min-height: 78px;
  z-index: 1;
  box-shadow: 3px 0 10px 2px rgba(102,102,102, 0.95);
}

.navbar .mini-logo {
  margin: 0 15px;
  float: left;
}
.navbar h1 {
  margin: 15px 0 0 0;
  clear: none;
}

.navbuttons-collection {
  float: left;
  position: relative;
  left: 0%;
  top: 15px;
}

.userbuttons-collection {
  float: right;
  position: relative;
  right: 5%;
  top: 10px;
}

.search-bar {
  float: left;
  position: relative;
  top: 32px;
  left: 3%;
  border-radius: 8px;
  transition: box-shadow 2s;
}

.search-bar input {
  border-radius: 8px 0 0 8px;
  padding-left: 5px;
  top: -3px;
  width: 240px;
  position:relative;
  height: 22px;
  transition: box-shadow 2s;
}

.search-bar:hover {
  box-shadow: -2px 2px 2px 1px rgba(102,102,102, 0.6)
}

.search-bar button {
  background: url(http://www.google.com/images/nav_logo242.png) no-repeat -107px -55px;
  border-top-style: inset;
  border-right-style: outset;
  border-left-style: inset;
  border-bottom-style: outset;
  border-radius: 0 8px 8px 0;
  height: 28px;
  width: 28px;
  float: right;
  top: -3px;
  position: relative;
  font-family: 'Oxygen', sans-serif;
  transition: background-color 2s;
}

.search-bar button:hover {
  background-color: rgba(128, 128, 128, 0.8);
}

.navbar a:hover {
  color: rgba(250, 250, 250, 0.95);
  text-shadow: 1px 1px 1px rgba(230,230,230, 0.75)
}

.navbar a {
  text-decoration: none;
  color: rgba(230, 230, 230, 0.9);
  font-size: 1.2em;
  margin-bottom: 8px;
  text-shadow: 1px 1px 1px rgba(210,210,210, 0.6);
  transition: text-shadow 1s, color 1s;
}


.navbutton {
  float: left;
  position: relative;
  width: auto;
  padding: 0 8px;
}

.userbutton {
  float: left;
  position: relative;
  width: auto;
  padding: 0 15px;
}


a.userbutton {
  font-size: 0.9em;
}



.app-body {
  position: relative;
  top: 90px;
}
