// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#root {
  background: #f2f2f2;
  padding-bottom: 100px;
  // background: #e2dedb;
}

.navbar {
  background: linear-gradient(rgba(102, 102, 102, 0.98), rgba(52, 52, 52, 0.98));
  width: 100%;
  position: fixed;
  top: -8px;
  width: 100%;
  min-height: 78px;
  z-index: 1;
  box-shadow: 3px 0 10px 2px rgba(102,102,102, 0.95);
}

.navbar .mini-logo {
  margin: 0 15px;
  float: left;
}
.navbar h1 {
  margin: 15px 0 0 0;
  clear: none;
}

.navbuttons-collection {
  float: left;
  position: relative;
  left: 0%;
  top: 15px;
}

.userbuttons-collection {
  float: right;
  position: relative;
  right: 5%;
  top: 10px;
}

.search-bar {
  float: left;
  position: relative;
  top: 32px;
  left: 3%;
  border-radius: 8px;
  transition: box-shadow 1s;
}

.search-bar input {
  border-radius: 8px 0 0 8px;
  padding-left: 5px;
  top: -3px;
  min-width: 240px;
  width: 30%;
  position:relative;
  height: 22px;
  transition: box-shadow 1s;
}

.search-bar:hover {
  box-shadow: -2px 2px 2px 1px rgba(102,102,102, 0.6)
}

.search-bar button {
  background: url(http://www.google.com/images/nav_logo242.png) no-repeat -107px -55px;
  border-top-style: inset;
  border-right-style: outset;
  border-left-style: inset;
  border-bottom-style: outset;
  border-radius: 0 8px 8px 0;
  height: 28px;
  width: 28px;
  float: right;
  top: -3px;
  position: relative;
  font-family: 'Oxygen', sans-serif;
  transition: background-color 1s;
}

.search-bar button:hover {
  background-color: rgba(128, 128, 128, 0.8);
}

.navbar a:hover {
  color: rgba(250, 250, 250, 0.95);
  text-shadow: 1px 1px 1px rgba(230,230,230, 0.75)
}

.navbar a {
  text-decoration: none;
  color: rgba(230, 230, 230, 0.9);
  font-size: 1.2em;
  margin-bottom: 8px;
  text-shadow: 1px 1px 1px rgba(210,210,210, 0.6);
  transition: text-shadow .7s, color .5s;
}


.navbutton {
  float: left;
  position: relative;
  width: auto;
  padding: 0 8px;
}

.userbutton {
  float: left;
  position: relative;
  width: auto;
  padding: 0 15px;
}

a.userbutton {
  font-size: 0.9em;
}

.app-body {
  position: relative;
  top: 90px;
}

.reviews {
  margin-left: 20px;
}

.reviews-index {
  width: 64%;
}

.review-form-wrapper {
  margin: 0 5% 3% 7%;
  max-width: 600px;

  color: #4d4d4d;
  font-family: 'Lato', sans-serif;
  // Slider
  .stars-holder {
    border: solid 1px #666666;
    border-bottom: 0px;
    min-height: 50px;
    padding: 0px 15px;
    width: 94%;
    color: #4d4d4d;
  }

  .stars-holder:hover {
    background: #666666;
    color: #e2dedb;
  }

  p {
    display: inline;
    padding: 0 2%;
    position: relative;
    font-size: 0.875em;
    float: left;
    margin-bottom: 10px;
  }

  .right {
    float: right;
  }


  #stars {
    width: 90%;
  }

  input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 20px;
    margin: 0 5% 10px 5%;
    position: relative;
    border: none;
    clear: both;
    padding: 0px 0px;
    border-radius: 14px;
    background: #cccccc;
    box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    outline: none; /* no focus outline */
  }

  input[type="range"]::-moz-range-track {
    border: inherit;
    background: transparent;
  }

  input[type="range"]::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: transparent;
  }

  input[type="range"]::-ms-fill-lower,
  input[type="range"]::-ms-fill-upper {
    background: transparent;
  }

  input[type="range"]::-ms-tooltip {
    display: none;
  }

  /* thumb */

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 18px;
    border: none;
    border-radius: 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b3b3b3), color-stop(100%, #808080)); /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top , #b3b3b3 0, #808080 100%); /* older mobile safari and android > 2.2 */;
    background-image: linear-gradient(to bottom, #b3b3b3 50, #808080 100%); /* W3C */
  }
  input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 18px;
    border: none;
    border-radius: 12px;
    background-image: linear-gradient(to bottom, #b3b3b3 0, #808080 100%); /* W3C */
  }

  input[type="range"]::-ms-thumb {
    width: 40px;
    height: 18px;
    border-radius: 12px;
    border: 0;
    background-image: linear-gradient(to bottom, #b3b3b3 0, #808080 100%); /* W3C */
  }


  // Inputs

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }

  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }

  input::placeholder,
  textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::placeholder,
  textarea::focus:placeholder {
    color: #bbb5af;
  }

  input::-ms-placeholder,
  textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::-ms-placeholder,
  textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }


  /* on hover placeholder */

  input:hover::-webkit-input-placeholder,
  textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-webkit-input-placeholder,
  textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }

  input:hover::-moz-placeholder,
  textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-moz-placeholder,
  textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder,
  textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::placeholder,
  textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder,
  textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-ms-placeholder,
  textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }

  h2 {
    font-family: 'Lato', sans-serif;
    position: relative;
    margin: 60px 0 25px 0;
    font-size: 1.8em;
    text-align: center;
    letter-spacing: 3px;
  }

  #form {
    position: relative;
    width: 90%;
    margin: 50px auto 100px auto;
  }

  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 94%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #666666;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  .minimal-selector {
    width: 94%;
    padding: 0 15px;
    border: solid 1px #666666;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  .minimal-selector:hover {
    background: #666666;
    color: #e2dedb;
  }

  select {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 100%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: 0;
    border-color: #666666;
    border-radius: 0;
    // -webkit-appearance: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  select option {
    border-radius: 0;
  }

  select:hover {
    color: #e2dedb;
  }

  input:hover:not([type=submit]) {
    background: #666666;
  }

  input:hover {
    color: #e2dedb;
  }

  textarea {
    width: 94%;
    max-width: 94%;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 1px #666666;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  textarea:hover {
    background: #666666;
    color: #e2dedb
  }

  #submit input {
    border: none;
    text-decoration: none;
    margin: auto;
    padding: 0;
    width: 100%
  }

  #submit {
    width: 94%;
    padding: 0 15px 0 15px;
    margin: -5px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #4d4d4d;
    outline: none;
    display: block;
    cursor: pointer;
    border: solid 1px #666666;
    border-top: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
  }

  #submit:hover {
    color: #e2dedb;
    background: #666666;
  }
}

.reviews-index {
  font-family: 'Lato', sans-serif;

  .reviews-collection {
    margin-left: 20px;
    letter-spacing: 3px;
    font-size: 1.5em;
    width: 100%;
    border: 0;
    border-bottom: 3px;
    color: #4d4d4d;
    border-color: #4d4d4d;
    border-style: groove;
  }


  .review-detail {
    border: 0;
    border-bottom: 1px;
    border-style: groove;
    color: #4d4d4d;

    .review-body {
      padding: 0 3% 2% 0;
      clear: both;
      font-size: 1em;
    }
  }

  .review-index-item {
    color: #4d4d4d;


    .review-index-body {
      padding: 0 3% 2% 0;
      clear: both;
      font-size: .8em;
    }
  }

  .review-index-item:not(:last-child) {
    border: 0;
    border-bottom: 1px;
    border-style: groove;
  }

  .review-index-business {
    float: right;
    position: relative;
  }

  .review-index-author {
    float: left;
    position: relative;
  }
}

.rating {
  margin: 10px 0;
  clear: both;
}

.rating i {
  margin: 6px;
  display: inline-block;
  width: 0;
  height: 1.5em;
  border-width: 0 0.75em;
  border-style: solid;
  border-color: #eee;
  border-radius: .22em;
  color: white;
  background: #eee;
  font-style: normal;
  line-height: 1.6em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px #b3b3b3;
}

/** Colors */
[data-rating^='1'] .star-1 {
  border-color: #cc8b1f;
  background: #cc8b1f;
}

[data-rating^='1.5'] .star-2 {
  border-left-color: #cc8b1f;
}

[data-rating^='2'] .star-1 {
  border-color: #dcb228;
  background: #dcb228;
}

[data-rating^='2'] .star-2 {
  border-color: #dcb228;
  background: #dcb228;
}

[data-rating^='2.5'] .star-3 {
  border-left-color: #dcb228;
}

[data-rating^='3'] .star-1 {
  border-color: #f0991e;
  background: #f0991e;
}

[data-rating^='3'] .star-2 {
  border-color: #f0991e;
  background: #f0991e;
}

[data-rating^='3'] .star-3 {
  border-color: #f0991e;
  background: #f0991e;
}

[data-rating^='3.5'] .star-4 {
  border-left-color: #f0991e;
}

[data-rating^='4'] .star-1 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rating^='4'] .star-2 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rating^='4'] .star-3 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rating^='4'] .star-4 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rating^='4.5'] .star-5 {
  border-left-color: #f26a2c;
}

[data-rating="5"] i {
  background: #dd050b;
  border-color: #dd050b;
}

/** Print */
@media print {
  .rating {
    -webkit-print-color-adjust: exact;
  }
  .rating i {
    text-shadow: none;
  }
}

.business-detail {
  font-family: 'Lato', sans-serif;
  color: #726659;

  .topbar {
    width: 90%;
    position: relative;
    margin: auto;
    clear: both;

    .topbar-spacer {
      margin-left: 20px;
      padding-top: 40px;
    }

    .business-name {
      font-size: 2em;
    }
  }
}

.business-quick-info {

  .ratings-wrapper {
    position: relative;
    clear: both;
    top: -25px;
    display: block;
    float: none;

    .rating, .aggregate-reviews {
      float:left;
      position: relative;
    }

    .aggregate-reviews {
      padding-left: 20px;
    }
  }

  .price-tags {
    top: -25px;
    position: relative;
    clear: both;
    display: block;

    .price, .tags {
      float: left;
      position: relative;
      margin: 0;
    }

    .tags {
      padding-left: 5px;
      font-weight: 500;
    }
  }
}
.location-group {
  float: left;
  position: relative;
  clear: both;
  display: block;

  .neighborhood, .telephone {
    font-weight: 500;
  }

  .neighborhood, .telephone, .location {
    margin: 10px;
  }

  .telephone {
    margin-bottom: 30px;
  }
}

.business-detail {

  .location-group {
    top: -10px;
    margin-right: 20%;
  }
}
.business-index-item {
  width: 64%;

  .right {
    float: right;
    position: relative;
  }

  .neighborhood, .telephone, .location {
    text-align: right;
  }

  .location-group {
    top: -100px;
  }

}

.business-index-item:not(:last-child) {
  border: 0;
  border-color: #4d4d4d;
  border-bottom: 1px;
  border-style: groove;
  padding-bottom: 20px;
}

.business-index-item:last-child {
  padding-bottom: 140px;
}

.business-detail .reviews-index {
  float: left;
  width: 64%;
  background: #f2f2f2;
}

.other-business-info {
  float: right;
  width: 25%;
  position: relative;
  background: #f2f2f2;

  ul {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hours-overall-title {
    margin-bottom: 15px;
  }

  .hours {
    font-size: .9em;
    width: 95%;

    h4 {
      font-size: 1.33em;
    }

    .hours-title {
      padding-bottom: 3px;
    }

    .day {
      position: relative;
      float: left;
      font-weight: 700;
    }

    .hour {
      position: relative;
      float: right;
    }

    .Hour {
      display: block;
      clear: both;
      left: -10px;
    }

  }
  .hours:last-child {
    padding-bottom: 20px;
  }

  .additional-business-info {

    h4 {
      font-size: 1.33em;
      margin-bottom: 15px;
    }

    .infoItem {
      padding-bottom: 4px;
      width: 95%;
      clear: both;

      .type {
        position: relative;
        float:left;
      }

      .quality {
        position: relative;
        float: right;
      }
    }
  }

  .additional-business-info:last-child {
    height: 2px;
    padding-bottom: 40px;
  }

  .descriptions {

    h4 {
      font-size: 1.33em;
      margin-top: 45px;
      margin-bottom: 15px;
    }
  }
}
