.top-five-business-sidebar {
  float: right;
  width: 25%;
  min-width: 225px;
  padding-left: 4%;
  margin-right: 20px;
  color: #4d4d4d;

  ul {
    top: -10px;
    position: relative;
  }

  .top-five-businesses-header {
    margin-left: 40px;
    font-size: 1.5em;
    margin-top: 25px;
    border: 0;
    border-bottom: 3px;
    color: #4d4d4d;
    border-color: #4d4d4d;
    border-style: groove;
  }

  .top-five-item {
    padding: 5px 0;
  }

  .top-five-item:not(:last-of-type) {
    border: 0;
    border-bottom: 1px;
    border-color: #4d4d4d;
    border-style: groove;
  }

  .top-five-name {
    font-size: 1.25em;
    margin: 0.75em 0;
    color: #8c001a;

  }

  .top-five-name:hover {
    cursor: pointer;
  }

  .top-five-aggregate-reviews {
    top: -15px;
    position: relative;
    font-size: 0.875em;
  }

  .price-tags {
    top: -25px;
    position: relative;
    clear: both;
    display: block;

    .price, .tags {
      float: left;
      position: relative;
      margin: 0;
    }

    .tags {
      font-weight: 500;

      .tag {
        padding-left: 10px;
        text-decoration: none;
        color: #8c001a;
        display: inline;
      }

      .tag:hover {
        cursor: pointer;
      }
    }
  }
}
