// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mini-logo {
  color: rgba(230,230,230,0.6);
  margin-left: 40px;
}

.mini-logo h1 {
  font-size: 2em;
}

.mini-logo a:hover {
  text-shadow: 2px 2px 5px rgba(255,255,255,0.6);
  color: rgba(255,255,255,1.0);
}

.mini-logo a {
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(230,230,230,0.3);
  color: rgba(230,230,230,0.95);
  transition: text-shadow 1s, color 1s;
}

.mini-logo p {
  margin-top: -25px;
  margin-left: 20px;
  font-size: 1.05em;
}

.login-backer {
  background-image: url(https://images.unsplash.com/photo-1415889455891-23bbf19ee5c7?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}


.login {
  background-color: rgba(230,230,230,0.7);
  margin: auto;
  font-weight: 700;
  border-color: rgba(0,0,0,0.7);
  border-width: 1px;
  border-style: solid;
  width: 400px;
  top: 100px;
  min-height: 200px;
  position: relative;
  box-shadow: 2px 2px 2px 1px rgba(77,77,77,0.7);
  border-radius: 37px;
  transition: background-color 2s, box-shadow 2s;
}

.login:hover {
  background-color: rgba(245,245,245,0.9);
  box-shadow: 3px 3px 3px 2px rgba(99,99,99,0.8);
}

.login:hover input {
  background-color: rgba(177,177,177,0.5);
}

.login:hover input::-webkit-input-placeholder {
  color: rgba(35,35,35,1.0);
}
.login:hover input::-moz-placeholder {
  color: rgba(35,35,35,1.0);
}
.login:hover input:-moz-placeholder {
  color: rgba(35,35,35,1.0);
}
.login:hover input:-ms-input-placeholder {
  color: rgba(35,35,35,1.0);
}

.login-box {
  min-height: 150px;
}

.login h2 {
  text-align: center;
  text-shadow: 2px 2px 2px rgba(77,77,77,0.7);
}

.login form {
  position: relative;
  margin: auto;
  width: 350px;
}

.login input {
  position: relative;
  width: 250px;
  margin-left: auto;
  float: right;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.7);
  transition: background-color 2s;
}

.login input::-webkit-input-placeholder {
  transition: color 2s;
}
.login input:-moz-placeholder {
  transition: color 2s;
}
.login input::-moz-placeholder {
  transition: color 2s;
}
  .login input:-ms-input-placeholder {
  transition: color 2s;
}

.login input:invalid:not([type=submit]) {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
  background-position: right top;
  background-repeat: no-repeat;
}

.login input:valid:not([type=submit]) {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
  background-position: right top;
  background-repeat: no-repeat;
}

.login input[type=submit] {
  font-weight: 700;
  background-color: rgba(230,230,230,1.0);
}

.login label {
  width: 50px;
  position: relative;
  margin: auto;
  float: left;
}

.login .submit {
  translateX: -50px;
  float: right;
  margin: auto;
}

.login p {
  font-size: 12px;
  text-align: center;
  top: 8px;
  position: relative;
  clear: both;
}

.group {
  content: "";
  display: block;
  clear: both;
}
